body {
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: #111315;
    width: auto;
    overflow: hidden;
}

@font-face {
    font-family: Cuprum; /* Гарнитура шрифта */
    src: url(./fonts/Cuprum-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: noto_sans; /* Гарнитура шрифта */
    src: url(./fonts/noto-sans-bold.ttf); /* Путь к файлу со шрифтом */
}

button {
    position: fixed;
    bottom: 0px;
    border: 0;
    left: 0;
    border-radius: 5px;
    margin-top: 0px;
    height: 60px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 400ms ease;
    color: white;
    background: #b277fc;

}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

input {
background-color: var(--tg-theme-bg-color);
color: white;

}
.main_form {
    /*display: none;*/
}
.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #1c2023;
    border-radius: 10px;
    height: 90px;
}
.user_name {
    width: 85%;
    position: relative;
    top: 5px;
    left: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-color: #0eb87d;
}

.from_label {
    margin: 0 0 8px 0;
}

.label2 {
    align-self: flex-start;
    justify-self: flex-start;
    top: -2.5px;
    font-family: noto_sans;
    position: relative;
    color: white;
}

.label {
    font-family: noto_sans;
    position: relative;
    top: 7px;
    left: 15px;
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0 0 7px 0;
    color: white;
}


p {
    font-family: noto_sans;
    margin: -1px;
    color: white;
    text-align: center;
}

.p-styled {
  margin: -1px;
  text-align: center;
  color: #979dab;
}

.main {
  display: none;
  gap: 35px;
  justify-content: space-between;
  width: auto;
  margin: 0 0 -1px 0;
}

.div2 {
  display: flex;
  flex-direction: column;
}



div {
  margin: 0 0 4px;
}