body {
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    width: auto;
    /*overflow: hidden;*/
}

@font-face {
    font-family: Cuprum; /* Гарнитура шрифта */
    src: url(./fonts/Cuprum-Bold.ttf); /* Путь к файлу со шрифтом */
   }


button {
    border: 0;
    border-radius: 5px;
    margin-top: 0px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease;
    color: black;
    background: #27cf70;
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

input {
background-color: var(--tg-theme-bg-color);
color: white;

}
.main_form {
    /*display: none;*/
}
.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #373b47;
    border-radius: 10px;
    height: 90px;
}
.user_name {
    width: 250px;
    position: relative;
    top: 5px;
    left: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.label {
    position: relative;
    top: 5px;
    left: 5px;
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0 0 5px 0;
    color: white;
}

.styled-text {
    color: #b4b8c4;
}

p {
    font-family: Cuprum;
    margin: -1px;
    color: var(--tg-theme-text-color);
    text-align: center;
}

.p-styled {
  margin: -1px;
  text-align: center;
  color: #979dab;
}

.main {
  display: none;
  gap: 35px;
  justify-content: space-between;
  width: auto;
  margin: 0 0 -1px 0;
}

.div2 {
  display: flex;
  flex-direction: column;
}



div {
  margin: 0 0 4px;
}